WebContent/wsdl/SOAPServicePort.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws.niit.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAPService" targetNamespace="http://service.ws.niit.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.ws.niit.com/" schemaLocation="SOAPService_schema1.xsd"/>
    </xsd:schema>
  </types>

  <message name="calculateGCDRequest">
    <part element="tns:calculateGCDRequest" name="parameters"/>
  </message>
  <message name="calculateGCDResponse">
    <part element="tns:calculateGCDResponse" name="parameters"/>
  </message>
  <message name="getGCDListRequest">
    <part element="tns:getGCDListRequest" name="parameters"/>
  </message>
  <message name="getGCDListResponse">
    <part element="tns:getGCDListResponse" name="parameters"/>
  </message>
    <message name="getGCDSumRequest">
    <part element="tns:getGCDSumRequest" name="parameters"/>
  </message>
  <message name="getGCDSumResponse">
    <part element="tns:getGCDSumResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <portType name="SOAPService">
  
      <operation name="getGcd">
      <input message="tns:calculateGCDRequest" wsam:Action="calculateGCDRequest"/>
      <output message="tns:calculateGCDResponse" wsam:Action="calculateGCDResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
        <operation name="getGcdList">
      <input message="tns:getGCDListRequest" wsam:Action="getGCDListRequest"/>
      <output message="tns:getGCDListResponse" wsam:Action="getGCDListResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
            <operation name="getGcdSum">
      <input message="tns:getGCDSumRequest" wsam:Action="getGCDSumRequest"/>
      <output message="tns:getGCDSumResponse" wsam:Action="getGCDSumResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
  </portType>
  <binding name="SOAPServicePortBinding" type="tns:SOAPService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  
      <operation name="getGcd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    
      <operation name="getGcdList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    
         <operation name="getGcdSum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SOAPService">
    <port binding="tns:SOAPServicePortBinding" name="SOAPServicePort">
      <soap:address location="http://localhost:8080/GCDApplication/services/SOAPServicePort"/>
    </port>
  </service>
</definitions>
