WebContent/WEB-INF/SOAPService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://service.ws.niit.com/" name="SOAPService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.ws.niit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.ws.niit.com/" schemaLocation="SOAPService_schema1.xsd"/>
    </xsd:schema>
  </types>

  <message name="calculateGCDRequest">
    <part name="parameters" element="tns:calculateGCDRequest"/>
  </message>
  <message name="calculateGCDResponse">
    <part name="parameters" element="tns:calculateGCDResponse"/>
  </message>
  <message name="getGCDListRequest">
    <part name="parameters" element="tns:getGCDListRequest"/>
  </message>
  <message name="getGCDListResponse">
    <part name="parameters" element="tns:getGCDListResponse"/>
  </message>
    <message name="getGCDSumRequest">
    <part name="parameters" element="tns:getGCDSumRequest"/>
  </message>
  <message name="getGCDSumResponse">
    <part name="parameters" element="tns:getGCDSumResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="SOAPService">
  
      <operation name="getGcd">
      <input wsam:Action="calculateGCDRequest" message="tns:calculateGCDRequest"/>
      <output wsam:Action="calculateGCDResponse" message="tns:calculateGCDResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
        <operation name="getGcdList">
      <input wsam:Action="getGCDListRequest" message="tns:getGCDListRequest"/>
      <output wsam:Action="getGCDListResponse" message="tns:getGCDListResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
            <operation name="getGcdSum">
      <input wsam:Action="getGCDSumRequest" message="tns:getGCDSumRequest"/>
      <output wsam:Action="getGCDSumResponse" message="tns:getGCDSumResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="Exception"/>
    </operation>
  </portType>
  <binding name="SOAPServicePortBinding" type="tns:SOAPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  
      <operation name="getGcd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    
      <operation name="getGcdList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    
         <operation name="getGcdSum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SOAPService">
    <port name="SOAPServicePort" binding="tns:SOAPServicePortBinding">
      <soap:address location="http://localhost:8080/SOAPService"/>
    </port>
  </service>
</definitions>

